<div class="row">
    <div class="alert alert-danger" ng-show='error === 1'>
        <ul>
            <li ng-repeat='e in errors'>
                <% e %>
            </li>
        </ul>
    </div>

    <div class="alert alert-success" ng-show='success === 1'>
        <% successMsg %>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa <% icon %>"></i> <% pageTitle %></h3>
    </div>
</div>

<div class="edit" ng-show='add === 1'>
    <form name="dataForm" novalidate>
	    <div class="row">
	        <div class="col-lg-6">
	            <div class="sub-header" ng-show='edited===0 && showed===0'><% lang.addNew %></div>
	            <div class="sub-header" ng-show='showed===1'><% lang.showRec %></div>
	            <div class="sub-header" ng-show='edited===1 && showed===0'><% lang.editRec %></div>
	        </div>
	        <div class="col-lg-6 form-btn">
	            <a class="btn btn-info" ng-click='save()' ng-show='showed===0'><% lang.saveBtn %></a>
	            <a class="btn btn-danger" ng-click='cancel()'><% lang.cancelBtn %></a>
	        </div>
	    </div>

	    <div class="special-form">
	        <div class="fieldset clearfix">
	            <label>Name</label>
	            <label class="full">
	                <input type="text" ng-model="name" class="form-control" ng-show='edited===0 && showed===0'> 
	                <div ng-show='edited===1 || show===0'><% name %></div>
	            </label>
	        </div>
	        <div class="fieldset clearfix">
	            <label>Kurallar</label>
	            <label class="full">
	            	<ul class="list-unstyled" ng-init="rights = ['access', 'show', 'edit', 'delete'];permissions = {}">
	            		<li ng-repeat='page in pages'>
	            			<div>
	            				<h4><% page.title %></h4>
								<label ng-repeat="right in rights">
	                				<input type="checkbox" ng-model="permissions[page.name + '_' + right]" ng-checked="permissions[page.name + '_' + right]"></input> <% right|capitalize %>
	                			</label>
	                			<span class="clearfix"></span>
	            			</div>

	            			<ul>
	            				<li ng-repeat='sub in page.subMenu'>
	            					<div>
	            						<h4><% sub.title %></h4>
	            						<label ng-repeat="right in rights">
		                					<input type="checkbox" ng-model="permissions[sub.name + '_' + right]"></input> <% right|capitalize %>
		                				</label>
		                			<span class="clearfix"></span>
	            					</div>
	            				</li>
	            			</ul>
	            		</li>            		
	            	</ul>
	            </label>
	        </div>
	    </div>
    </form>
</div>


<div class="list" ng-show='add === 0'>
    <div class="listTable">
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th colspan="6">
                        <div class="row">
                            <div class="col-md-4">
                                <input st-search placeholder="<% lang.search %>" class="input-sm form-control" type="search"/> 
                            </div>
                            <div class="col-md-4 pull-right">
                                <a href="" class="btn btn-info pull-right" ng-click='edit()'><% lang.addNew %></a>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th width="1"></th>
                    <th width="1"></th>
                    <th width="1"></th>
                    <th st-sort="name">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection">
                    <td align="center"><button class="btn btn-info fa fa-edit" ng-click='edit(row.id)' ng-if='(row.name !== "admin" || row.name === logedin) && user_roles.permissions.roles_edit'></button></td>
                    <td align="center"><button class="btn btn-warning fa fa-eye" ng-click='show(row.id)' ng-if='user_roles.permissions.roles_show'></button></td>
                    <td align="center"><button class="btn btn-danger fa fa-trash" ng-really-message="<% lang.del_btn_really_msg %>" ng-really-click="del(row.id)" ng-if='row.name !== "admin" && user_roles.permissions.roles_delete'></button></td>
                    <td><% row.name %></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-template="views/pagination.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

